{% extends "email/layout.jinja2" %}

{% block text -%}
Hi. Sombody (hopefully you) requested password reset on your Sailshift account. If it was you - please click on button
below to set new password. Otherwise ignore this email, your account safe and sound.
{% endblock text -%}

{% block buttons -%}
<td class="text-button"
    style="background:#ef3050; color:#ffffff; font-family:Arial ,sans-serif; font-size:14px; line-height:18px; padding:12px 20px; text-align:center; text-transform:uppercase; font-weight:bold; border-radius:22px;"
>
    <a href="{{ forgot_password_url }}" target="_blank" class="link-white" style="color:#ffffff; text-decoration:none;">
        <span class="link-white" style="color:#ffffff; text-decoration:none;">RESET PASSWORD</span>
    </a>
</td>
{% endblock buttons %}
